<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<title>MakeICT Electronic Door{{TITLE}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="style/main.css" rel="stylesheet" type="text/css" />
		{{ADDITIONAL_CSS}}

		<script type="text/javascript" src="script/convenience.js"></script>
		{{ADDITIONAL_JAVASCRIPT}}
	</head>
	
	<body>
		<div id="page">
			<div id="header">
				[ <a href="login.php">Login</a> ]
				[ <a href="login.php?logout=1">Logout</a> ]
				[ <a href="users.php">Users</a> ]
				[ <a href="admin.php">Admin</a> ]
				<hr/>
			</div>
			
			<div id="content">
				{{PAGE_CONTENT}}
			</div>
				
			<div id="footer">
			</div>
		</div>
	</body>
</html>
